/********************/
/*PRIMARY STYLESHEET*/
/********************/

/*importing external assets*/
@import url('https://fonts.googleapis.com/css?family=Oxygen:300');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400');
@import url('https://fonts.googleapis.com/css?family=Oxygen:700');

/*defining variables to be used throughout document*/
:root {
	--width: 100vw;
	--text-col: rgb(0,48,87);
	--curr-col: rgb(100,148,187);
	--hover-col: rgb(50,98,137);
}

/*setting default formatting*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 14pt;
	vertical-align: middle;
	text-align: center;
	background-color: transparent;
	font-family: 'Oxygen';
	font-weight: 300;
	color: var(--text-col)
	transition-timing-function: linear;
}

/*defining element formatting*/
/*****************************/

body {
	height: 100%;
	width: var(--width);
	overflow-x: hidden;
}

h1 {
	font-weight: 700;
}

h2 {
}

a {
	transition-duration: 0.1s;
}

/*defining class formatting*/
/***************************/

.header {
	position: sticky;
}

.menu_items a:hover {
	background-color: var(--hover-col);
}

.current_page {
	background-color: var(--curr-col);
}




